{% extends "account_base.html" %}
  {% block title %}Change Password{% endblock %}
  {% load i18n %}
  {% block account_content %}
  {% load crispy_forms_tags %}
  <h1>{% trans "Change Password" %}</h1>
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary primaryAction w-100" type="submit" name="action">{% trans "Change Password" %}</button>
  </form>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
{% endblock %}