/* Custom Style Sheet */

body {
  /* Fixed nav padding */
  padding-top: 56px;
}

/* Ticket Create and Update View Template Styles */

form>* {
  margin: 10px 0 10px 0
}

form>div>label {
  margin-bottom: 3px;
}

/* Ticket Detail View Template Styles */

.ticket-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}

.ticket-detail-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px
}

.ticket-detail-body-container {
  gap: 30px
}

.comments hr:last-of-type {
  display: none;
}

.toast-container {
  z-index: 100;
}

/* Shared Classes */

.max-w-600 {
  max-width: 600px;
}

.max-w-1000 {
  max-width: 1000px;
}

.ticket-status {
  display: inline;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  color: white;
}

.ticket-status-open {
  background-color: red;
}

.ticket-status-inprogress {
  background-color: green;
}

.ticket-status-onhold {
  background-color: orange;
}

.ticket-status-closed {
  background-color: black;
}

/* Media Queries */

@media screen and (min-width: 1080px) {

  /* Ticket Detail View Template Styles */

  .ticket-detail-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    gap: 20px;
  }

  .ticket-detail-info-container {
    flex-basis: 25%;
    height: min-content;
  }

  .ticket-detail-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ticket-detail-body-container {
    gap: 30px;
    flex-basis: 75%;
    max-width: 75%;
  }

}