/* Custom Style Sheet */

body {
  /* Fixed nav padding */
  padding-top: 56px;
}

/* Ticket Create View Template Styles */

form>* {
  margin: 10px 0 10px 0
}

form>div>label {
  margin-bottom: 3px;
}

/* Shared Classes */

.max-w-600 {
  max-width: 600px;
}

.max-w-1000 {
  max-width: 1000px;
}

.ticket-status {
  display: inline;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

.ticket-status-open {
  background-color: red;
}

.ticket-status-inprogress {
  background-color: green;
}

.ticket-status-onhold {
  background-color: orange;
}

.ticket-status-closed {
  background-color: black;
}