{% extends "base.html" %}

{% block title %}
Profile - {{ profile.username }}
{% endblock %}

{% block content %}

<div class="container-fluid py-5 d-flex flex-row justify-content-center">
  <div class="d-flex flex-column mt-3 gap-4 w-100 max-w-600">
    <div class="card">
      <div class="card-header">
        Profile
      </div>
      <div class="card-body">
        <p>Username: {{ user.username }}</p>
        <p>
          Full Name: 
          {% if user.first_name or user.last_name %}
          {{ user.full_name }}
          {% else %}
          No name provided
          {% endif %}
        </p>
        <p>Email address: {{ user.email }} <a href="{% url 'account_email' %}">edit email address</a></p>
        {% if user.role == 'technician' or user.role == 'administrator' %}
        <p>Team: {{ user.team }}</p>
        <p>Role: {{ user.role }}</p>
        {% endif %}
        <div class="d-flex flex-row justify-content-end gap-1">
          <a href="{% url 'profile_update' user.id %}" class="btn btn-primary">Edit Profile</a>
        <a class="btn btn-outline-secondary" href="{% url 'account_change_password' %}">Change Password</a>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}